<!-- layouts/admin.html -->
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicação Comunitária</title>
    <script src="https://cdn.jsdelivr.net/npm/decap-cms@latest/dist/decap-cms.js"></script>
    <script>
    CMS.init({
        load_config_file: '/cms/config.yml'
    });
    </script>
</head>
<body>
    <h1>Decap CMS Admin Panel</h1>
    <div id="decap-cms"></div>
</body>
</html>

