<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar</title>
    <script src="https://cdn.jsdelivr.net/npm/decap-cms@latest/dist/decap-cms.js"></script>
</head>
<body>
    <h1>Decap CMS Publicar Panel</h1>
    <div id="decap-cms"></div>
    
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        CMS.init({
            load_config_file: '/cms/config.yml'  // Ensure this path is correct
        });
    });
    </script>
</body>
</html>

